{:config
 {
  :logLevel :info      ;; One of -  :trace :debug :info :warn :error :fatal
  :_totalMethod :count ;; Default - :count , nil for disable counting
  }
 :import
 {
  ;;:icd-10 {}
  ;;:fhirterm-3.3.0 {}
  }}